@{
    Layout = "_Layout";
}

@using GreenHarborClient.Models;
@model GreenHarborClient.Models.Compost;

<div class="container1">
<h2>Compost Host Details</h2>

<h4>@Html.DisplayNameFor(model => model.City): @Html.DisplayFor(model => model.City)<br>
    @Html.DisplayNameFor(model => model.Zip): @Html.DisplayFor(model => model.Zip)<br>
    @Html.DisplayNameFor(model => model.Location): @Html.DisplayFor(model => model.Location)<br>
    @Html.DisplayNameFor(model => model.Contents): @Html.DisplayFor(model => model.Contents)<br>
    @Html.DisplayNameFor(model => model.ContactName): @Html.DisplayFor(model => model.ContactName)</h3>
</h4>

<p>@Html.ActionLink("Return to all compost hosts", "Index")</p>
<p>@Html.ActionLink("Edit Compost Host", "Edit", new { id = Model.CompostId })</p>
<p>@Html.ActionLink("Delete Compost Host", "Delete", new { id = Model.CompostId })</p>
</div>