@{
    Layout = "_Layout";
}

@using GreenHarborClient.Models;

<div class="container1">
<h1>Compost Host Sites</h1>

@foreach (Compost compost in Model)
{
  <li><strong>@compost.ContactName</strong> - @compost.Zip - @compost.Location - @compost.City | <a href="/composts/Details/@(compost.CompostId)">View Details</a></li>
}

<p>@Html.ActionLink("Add new Compost Host", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>

Search by @Html.ActionLink("City", "IndexByCity") or by 
@Html.ActionLink("Zip Code", "IndexByZip")
<img id="sunny" src="~/images/Sunshine.gif">
</div>
