@{
  Layout = "_Layout";
}

<div class="container1">
@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  @Html.ActionLink("Let's Compost!", "Index", "Composts") 
}
else
{
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Log in", "Login")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
}
</div>